@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-gradient-to-r from-blue-400 to-blue-950 bg-clip-text font-semibold text-transparent;
}
@layer base {
  body {
    @apply bg-blue-50 leading-normal;
  }
  .btn {
    @apply mb-2 mr-2 rounded-lg bg-gradient-to-br from-cyan-400 to-blue-950 px-6 py-2.5 text-center text-white hover:bg-gradient-to-bl focus:outline-none;
  }
  .gradient {
    @apply bg-gradient-to-r from-blue-400 to-blue-950 bg-clip-text font-semibold text-transparent;
  }
  .inputStyle {
    @apply w-full rounded-lg bg-blue-100 py-3.5 pl-3 leading-none text-gray-800 focus:outline-none;
  }
  .section {
    @apply py-12 lg:py-24;
  }
  .section-title {
    @apply mb-6 text-2xl font-bold leading-normal lg:text-[40px];
  }
  .section-subtitle {
    @apply mb-8 mt-6 text-gray;
  }
  .input,
  .select {
    @apply h-[38px] w-full border-b border-gray text-xl text-darkblue outline-none;
  }
  .input {
    @apply bg-transparent lg:max-w-[410px];
  }
  .select {
    @apply cursor-pointer lg:max-w-[200px];
  }
}

.icon {
  animation: gototop 1.5s linear infinite alternate-reverse;
}

@keyframes gototop {
  0% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
@media (max-width: 668px) {
  .top-btn {
    right: 0;
    left: 40%;
  }
}
